@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-50: #1e1e1e;
  --base-100: #292929;
  --base-900: #121212;
  --grey: #888888;
}

.mantine-Select-section {
  display: none !important;
}
